In [17]:
%matplotlib ipympl
import os
import os.path as path
import pandas as pd
import h5py
import numpy as np
from faker import Factory
import matplotlib.pyplot as plt
from plotly.offline import init_notebook_mode, iplot
from plotly.graph_objs import *
import plotly
from ipywidgets import fixed, interact_manual, widgets
from ipywidgets import HBox, VBox
from IPython.display import clear_output
from IPython.display import display
from ipywidgets import IntSlider, Output
import plotly.graph_objects as go
import plotly.express as plot_x

# Local module and scripts
from pyccapt.calibration.calibration_tools import tools, data_tools, variables, calibration, data_loadcrop, ion_selection, reconstruction, selectors_data
from pyccapt.calibration.calibration_tools import widgets as wd
from pyccapt.calibration.calibration_tools import dataset_path_qt
from pyccapt.calibration.leap_tools import ccapt_tools, leap_tools

In [18]:
button = widgets.Button(
    description='load dataset',
)

@button.on_click
def open_file_on_click(b):
    global dataset_path_pos
    dataset_path_pos = dataset_path_qt.gui_fname().decode('ASCII')
button

Button(description='load dataset', style=ButtonStyle())

In [19]:

dataset_main_path = os.path.dirname(dataset_path_pos)
dataset_name_with_extention = os.path.basename(dataset_path_pos)
dataset_name_pos = os.path.splitext(dataset_name_with_extention)[0]

# variables.path = os.path.join(p, 'tests//data')
result_path_pos = dataset_main_path

filename_pos = dataset_path_pos

head, tail = os.path.split(filename_pos)
figname = os.path.splitext(tail)[0]

data_pos = ccapt_tools.pos_to_ccapt(filename_pos)

26917776

In [20]:
data_pos

,x (nm),y (nm),z (nm),mc_c (Da),mc (Da),high_voltage (V),pulse (V),start_counter,t (ns),t_c (nm),x_det (cm),y_det (cm),pulse_pi,ion_pp
0,0.241342,-1.278359,0.091122,58.919979,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
1,-0.113492,-0.949551,0.049690,59.357075,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
2,-0.015024,-1.626378,0.143371,59.961987,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
3,1.360078,2.415058,0.420799,61.130970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
4,1.038218,2.499823,0.401362,59.835972,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1682356,-1.287404,-1.978671,NaN,61.045647,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
1682357,-5.739897,-0.012161,NaN,59.630665,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
1682358,-3.630689,1.076687,NaN,61.028290,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
1682359,4.475197,-2.465047,NaN,61.376759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
1682360,1.257739,1.696041,NaN,60.720150,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0

In [5]:
# save the new data
name_save_file = result_path_pos + '//' + dataset_name_pos + '.h5'
data_tools.store_df_to_hdf(name_save_file, data_pos, 'df')

In [6]:
button = widgets.Button(
    description='load dataset',
)

@button.on_click
def open_file_on_click(b):
    global dataset_path_epos
    dataset_path_epos = dataset_path_qt.gui_fname().decode('ASCII')
button

Button(description='load dataset', style=ButtonStyle())

In [8]:

dataset_main_path = os.path.dirname(dataset_path_pos)
dataset_name_with_extention = os.path.basename(dataset_path_epos)
dataset_name_epos = os.path.splitext(dataset_name_with_extention)[0]


result_path_epos = dataset_main_path

filename_epos = dataset_path_epos

head, tail = os.path.split(filename_epos)

data_epos = ccapt_tools.epos_to_ccapt(filename_epos)

In [9]:
data_epos

,x (nm),y (nm),z (nm),mc_c (Da),mc (Da),high_voltage (V),pulse (V),start_counter,t (ns),t_c (nm),x_det (cm),y_det (cm),pulse_pi,ion_pp
0,-7.853704,0.177746,0.778989,20.934525,0.0,1997.819946,0.0,0.0,2372.105469,0.0,-6.872214,1.240525,0,2
1,-11.362803,-0.777752,1.655746,47.877735,0.0,1997.819946,0.0,0.0,3571.510254,0.0,-9.263744,0.512391,0,0
2,-4.987985,-18.808384,5.051971,17.838438,0.0,1998.310059,0.0,0.0,2186.283936,0.0,-4.013373,-13.403062,8455,1
3,-20.104198,1.033762,5.434807,20.172239,0.0,1998.310059,0.0,0.0,2290.781006,0.0,-14.871471,1.995627,4750,1
4,-22.846310,2.005881,7.227716,19.906652,0.0,1998.310059,0.0,0.0,2266.553467,0.0,-16.575781,2.912537,4124,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581689,6.122859,18.300282,77.723053,70.058533,0.0,3826.719971,0.0,0.0,3145.568115,0.0,5.085438,14.832362,392,1
581690,12.005523,-10.538718,76.152664,6.003592,0.0,3826.719971,0.0,0.0,930.597778,0.0,8.604012,-6.930758,3703,4
581691,18.360214,-5.284429,77.623199,6.099520,0.0,3826.719971,0.0,0.0,942.300049,0.0,13.881872,-3.182216,0,0
581692,5.551716,-9.742305,74.489265,12.014996,0.0,3826.719971,0.0,0.0,1310.366943,0.0,3.161218,-6.040816,0,0
581693,12.392248,-12.898662,77.012749,48.198032,0.0,3826.719971,0.0,0.0,2636.176758,0.0,9.291233,-8.818514,0,0

In [11]:
# save the new data
name_save_file = result_path_epos + '//' + dataset_name_epos + '.h5'
data_tools.store_df_to_hdf(name_save_file, data_epos, 'df')

In [13]:
# save data again as pos and epos file
epos = ccapt_tools.ccapt_to_epos(data_epos, path=result_path_pos, name=dataset_name_epos + '_new.epos')
pos = ccapt_tools.ccapt_to_pos(data_pos, path=result_path_pos, name=dataset_name_pos + '_new.pos')

In [15]:
leap_tools.read_pos(result_path_pos + dataset_name_pos + '_new.pos' )

9307120

           x (nm)     y (nm)     z (nm)   m/n (Da)
0       -7.853704   0.177746   0.778989  20.934525
1      -11.362803  -0.777752   1.655746  47.877735
2       -4.987985 -18.808384   5.051971  17.838438
3      -20.104198   1.033762   5.434807  20.172239
4      -22.846310   2.005881   7.227716  19.906652
...           ...        ...        ...        ...
581690  12.005523 -10.538718  76.152664   6.003592
581691  18.360214  -5.284429  77.623199   6.099520
581692   5.551716  -9.742305  74.489265  12.014996
581693  12.392248 -12.898662  77.012749  48.198032
581694   9.820406 -14.472337  76.824425  12.002439

[581695 rows x 4 columns]

In [16]:
leap_tools.read_epos(result_path_epos + dataset_name_epos + '_new.epos' )

,x (nm),y (nm),z (nm),m/n (Da),TOF (ns),HV_DC (V),pulse (V),det_x (cm),det_y (cm),pslep,ipp
0,-7.853704,0.177746,0.778989,20.934525,2372.105469,1997.819946,0.0,-6.872214,1.240525,0,2
1,-11.362803,-0.777752,1.655746,47.877735,3571.510254,1997.819946,0.0,-9.263744,0.512391,0,0
2,-4.987985,-18.808384,5.051971,17.838438,2186.283936,1998.310059,0.0,-4.013373,-13.403062,8455,1
3,-20.104198,1.033762,5.434807,20.172239,2290.781006,1998.310059,0.0,-14.871471,1.995627,4750,1
4,-22.846310,2.005881,7.227716,19.906652,2266.553467,1998.310059,0.0,-16.575781,2.912537,4124,1
...,...,...,...,...,...,...,...,...,...,...,...
581689,6.122859,18.300282,77.723053,70.058533,3145.568115,3826.719971,0.0,5.085438,14.832362,392,1
581690,12.005523,-10.538718,76.152664,6.003592,930.597778,3826.719971,0.0,8.604012,-6.930758,3703,4
581691,18.360214,-5.284429,77.623199,6.099520,942.300049,3826.719971,0.0,13.881872,-3.182216,0,0
581692,5.551716,-9.742305,74.489265,12.014996,1310.366943,3826.719971,0.0,3.161218,-6.040816,0,0
581693,12.392248,-12.898662,77.012749,48.198032,2636.176758,3826.719971,0.0,9.291233,-8.818514,0,0